.navBar{
    background-color: rgb(230, 230, 230);
}

#homeButton{
    margin-left: 10px;    
    font-size: large;    
}

#logo{
    width: 100px;
    margin-left: 0px;
}

#perfilImage{
    margin-left: 1000px;
}

.navBar li a{
    color: rgb(0, 0, 0);
    list-style-type: none;
    padding: 10px;    
    text-decoration: none;
}

.navBar li{
    display: inline-flex;
}

.navBar li a:hover{
    background-color: rgb(126, 144, 216);
    color: white;
}

.navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#newsButton{
    margin-left: 50px;
}